body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

.quadrants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.quadrant {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 200px;
    padding: 20px;
    resize: none; /* Prevent resizing */
}

.quadrant label {
    margin-bottom: 10px;
    font-size: 15px;
}

#pomodoro {
    background-color: red;
    color: #fff;
    width: 100%;
    padding: 10px;
    max-height: 20px;
}

#pomodoro div {
    display: inline;
    padding: 0 10px;
}

#countDisplay {
    float: right;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content, .side-content {
    flex: 1;
}

.main-content {
    padding-right: 20px;
}

.side-content {
    padding-left: 20px;
}

.app-links {
    padding: 10px;
}

/* Default button style */
#dayCompleteToggle {
    background-color: white;
    color: black;
    border: 2px solid black; /* Adjust border color as needed */
    width: 90px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    cursor: pointer;
}

/* Style for when the day is marked as complete */
.day-complete {
    background-color: green !important; 
    color: white !important;
}
